* {
  margin: 0;
  padding: 0;
  color: #2E3034;
  font-family: 'Noto sans', sans-serif, serif; }

a {
  color: #1D4E6A; }

h1 {
  font-size: 2em;
  line-height: 160%;
  font-weight: 600; }

h2 {
  font-size: 1.6em;
  line-height: 140%;
  margin-bottom: 1em;
  font-weight: 600; }

h3 {
  font-size: 1.4em;
  line-height: 140%;
  margin-bottom: 0.2em;
  font-weight: 600; }

h4 {
  font-size: 1.2em;
  line-height: 160%;
  margin-bottom: 0.2em;
  font-weight: 900; }

h5 {
  font-size: 1.1em;
  line-height: 160%;
  margin-bottom: 0.2em;
  font-weight: 500; }

h6 {
  font-size: 0.85em;
  line-height: 120%;
  margin-bottom: 0.5em;
  font-weight: 400; }

p {
  font-size: 1em;
  line-height: 160%;
  margin-bottom: 1em;
  font-weight: 400; }

li {
  margin-left: 1.5em;
  margin-bottom: 0.5em; }

body {
  padding: 60px 5vw;
  max-width: 800px;
  margin: 0 auto;
  background-color: #EEF3F8; }

section {
  padding: 20px 16px 20px;
  border-top: 1px solid #595C61; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px; }
  .flex div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.item {
  padding: 10px 0; }

.bk2 {
  color: #595C61; }

.bk3 {
  color: #9298A2; }

.italic {
  font-style: italic; }

hr {
  opacity: 0.5; }

@media (max-width: 440px) {
  .flex div {
    width: 100vw; } }
