#contact-modal.modal-overlay(style='display: none;')
  .modal-content
    button#close-contact.close-btn(type='button') &times;
    
    h3 Contact Me
    
    form#contact-form
      //- Web3Forms 必備隱藏欄位
      input(type='hidden', name='access_key', value='ba4407cf-0200-4d0b-89aa-5de9b396322c')
      input(type='hidden', name='subject', value='來自作品集的新訊息')
      
      .form-group
        input(type='text', name='name', placeholder='Name', required)
      .form-group
        input(type='email', name='email', placeholder='Email', required)
      .form-group
        textarea(name='message', placeholder='Message', required)
      
      //- 如果你想套用字母動畫，記得加上 arflex-btn
      button#submit-btn(type='submit') Send Message
      
      #result(style='margin-top: 15px; display: none;')