svg.animated-svg(xmlns='http://www.w3.org/2000/svg' width='100%' height='100vh' viewBox='0 0 496 925')
  defs
    //- 定義漸變色 ID
    linearGradient#lineGradient-infinite(x1="0%" y1="0%" x2="0%" y2="100%" gradientUnits="userSpaceOnUse")
      stop(offset="0%" stop-color="#2C739A")
      stop(offset="48%" stop-color="#C9E3E9")
      stop(offset="60%" stop-color="#2C739A")
      stop(offset="77%" stop-color="#C9E3E9")
      stop(offset="100%" stop-color="#2C739A")
    style.
      .st0-infinite{fill:none; stroke:url(#lineGradient-infinite); stroke-linecap:round; stroke-miterlimit:10; stroke-width:2px}
  path.st0-infinite.draw-path-infinite(d='M14.63 924.5C281.5 920.67 495.5 811.32 495.5 676.97c0-91.61-99.54-171.62-247.5-214.47S.5 339.64.5 248.03C.5 113.68 214.5 4.33 481.37.5')
  path.st0-infinite.draw-path-infinite(d='M14.63 924.5c207.27-5.77 377.12-112.39 388.52-250.95C409.85 592.1 345.84 515.6 248 462.5 150.16 409.39 86.15 332.89 92.85 251.45 104.25 112.89 274.1 6.27 481.37.5')
  path.st0-infinite.draw-path-infinite(d='M14.63 924.5c147.68-7.7 271.68-111.55 296.17-254.36 12.22-71.27-15.08-144.27-62.8-207.64-47.72-63.36-75.02-136.36-62.8-207.64C209.69 112.05 333.69 8.2 481.37.5')
  path.st0-infinite.draw-path-infinite(d='M14.63 924.5c124.99-13.68 225.26-212.67 233.37-462S356.38 14.18 481.37.5')