doctype html
html(lang="en")
  head
    //- basic meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/meta/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/meta/favicon-16x16.png")
    link(rel="apple-touch-icon" href="./img/meta/apple-touch-icon.png")

    //- SEO
    title Kollin Jhang | UI/UX Designer Portfolio
    meta(name="description" content="Designer with 10+ years bridging UI/UX, branding, and marketing.")
    meta(name="keywords" content="UI/UX Design, Product Design, Frontend Development, Portfolio, Kollin Jhang, Branding")
    meta(name="author" content="Kollin Jhang")
    
    //- Open Graph / Facebook
    meta(property="og:title" content="Kollin Jhang | UI/UX Designer Portfolio")
    meta(property="og:description" content="Designer with 10+ years bridging UI/UX, branding, and marketing.")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://kollin-design.com")
    meta(property="og:image" content="https://kollin-design.com/img/meta/og-image.png")
    //- og-image: 1200x630px

    //- Twitter Card
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Kollin Jhang | UI/UX Designer Portfolio")
    meta(name="twitter:description" content="Designer with 10+ years bridging UI/UX, branding, and marketing.")
    meta(name="twitter:image" content="https://kollin-design.com/img/meta/og-image.png")
    
    //- JSON-LD
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Kollin Jhang",
        "url": "https://kollin-design.com",
        "jobTitle": "Senior UI/UX Designer",
        "description": "Designer with 10+ years bridging UI/UX, branding, and marketing.",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Taipei",
          "addressCountry": "TW"
        },
        "sameAs": [
          "https://github.com/Shishimaruko",
          "https://linkedin.com/in/kollin-jhang-6737a8173"
        ]
      }

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap", rel="stylesheet")
        
    link(rel='preload' href="./css/style.css" as='style')
    link(rel='stylesheet' href='./css/style.css')
    link(rel="canonical" href="https://kollin-design.com")

    // Google Tag Manager
    script.
      if (window.location.hostname === 'kollin-design.com') {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N3LRZRBR');
      } else {
        console.log('Dev environment: GTM not loaded');
      }
    // End Google Tag Manager

  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N3LRZRBR' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)

    //- ========================================================
    //- Mixin
    //- ========================================================
    include ./_text_draw_outline.pug
    include ./_responsive_img.pug

    //- ========================================================
    //- Navigation
    //- ========================================================
    header
      nav#navbar
        a(href="#hero").logo
          img(src='./img/logo.svg' width='auto' height='32px' alt='logo')
        ul
          li
            a.arflex-btn(href='#ui' data-text='Portfolio')
          li
            a.arflex-btn(href='#graphic' data-text='Gallery')
          li
            a.arflex-btn(href='#about' data-text='About')
          li
            button#open-contact.arflex-btn(href='javascript:void(0)' data-text='Contact' data-icon='true')
        .nav-button
          img(src='./img/icon/dehaze.svg' width='32px' height='32px' alt='menu')

    main
      //- ========================================================
      //- Hero Section
      //- ========================================================
      section#hero
        .section_title
          +text_draw_outline(["Sense the flow.", 'Shape the future.'], 'title_hero')
          p(data-fade='in' data-delay='0.3') Turning data-driven insights into seamless interfaces and impactful brand stories.

        p.tips Scroll down

        //- 背景動畫logo：無限循環 + 單次襯底
        .fade-out-box
          .big-logo
            include ./_hero-bg-infinite.pug
          .big-logo
            include ./_hero-bg-single.pug

        //- 背景點點滑動牆
        canvas#dotCanvas

      //- ========================================================
      //- UI Section
      //- ========================================================
      section#ui
        //- .scroll-spacer
        //- 內容層
        .grid-container
          .grid-item
            .section_title
              .m-hide
                +text_draw_outline(['Selected', 'Works'], 'title_ui')
              .m-only
                +text_draw_outline('Selected Works', 'title_ui_m')
            .gallery_menu
              .item
                .label
                  p AIGC website
                  .buttons
                    button(type="button" data-icon='view')
                      img(src='./img/icon/book_5.svg' width='24px' height='24px')
                    button
                      a(href='https://www.figma.com/proto/3daBwgTus0Mrevbjaw6ImD/Backup?node-id=9914-5436&t=GgdjTYbklcDIGUZ9-1&scaling=min-zoom&content-scaling=fixed&page-id=9914%3A3510' target='_blank')
                        img(src='./img/icon/figma.svg' width='24px' height='24px' alt='Figma link')
                .sub
                  p 2M+ Active Users in 6 Months
                .details
                  p.role Role: UI/UX Design, Frontend Development, Data Analysis
                  p.task 
                    span Task: 
                    | Directed market research and user interviews while leading continuous A/B testing to drive rapid product iteration.
                  p.intro 
                    span Result: 
                    | Scaling to 2M Users in 6 Months with 21.9% Retention via Data-Driven Iteration.

              .item
                .label
                  p API website
                  .buttons
                    button(type="button" data-icon='view')
                      img(src='./img/icon/book_5.svg' width='24px' height='24px')
                    button
                      a(href='https://www.figma.com/proto/3daBwgTus0Mrevbjaw6ImD/Backup?node-id=9914-5100&t=9LzI4oHZdba7QgXU-1&scaling=min-zoom&content-scaling=fixed&page-id=9914%3A35100' target='_blank')
                        img(src='./img/icon/figma.svg' width='24px' height='24px' alt='Figma link')
                .sub
                  p End-to-End Product Management & Full-Stack Execution
                .details
                  p.role Role: Project Manager, UI/UX Design, Frontend Development
                  p.task 
                    span Task: 
                    | Spearheaded project planning using backward design to align milestones, resource allocation, and cross-functional synchronization.
                  p.intro 
                    span Result: 
                    | Successfully delivered the product on schedule by optimizing resource deployment and bridging the gap between strategy and technical execution.

              .item
                .label
                  p CDN platform
                  .buttons
                    button(type="button" data-icon='view')
                      img(src='./img/icon/book_5.svg' width='24px' height='24px')
                    button
                      a(href='https://www.figma.com/proto/3daBwgTus0Mrevbjaw6ImD/Backup?node-id=9914-7925&t=yMRHRQTbg8O7SQr9-1&scaling=min-zoom&content-scaling=fixed&page-id=9914%3A3510' target='_blank')
                        img(src='./img/icon/figma.svg' width='24px' height='24px' alt='Figma link')
                .sub
                  p High-Interaction Multi-Dimensional Data Visualization
                .details
                  p.role Role: UI/UX Design
                  p.task 
                    span Task: 
                    | Conducted extensive user interviews to identify pain points and restructured complex datasets into a user-centric information architecture.
                  p.intro 
                    span Result: 
                    | Transformed rigid product data into intuitive, interactive visualizations, significantly enhancing readability and user engagement.

              .item
                .label
                  p Ad platform
                  .buttons
                    button(type="button" data-icon='view')
                      img(src='./img/icon/book_5.svg' width='24px' height='24px')
                    button
                      a(href='https://www.figma.com/proto/3daBwgTus0Mrevbjaw6ImD/Backup?node-id=9914-7189&t=2FFQII3vDjIauVcU-1&scaling=min-zoom&content-scaling=fixed&page-id=9914%3A3510' target='_blank')
                        img(src='./img/icon/figma.svg' width='24px' height='24px' alt='Figma link') 
                .sub
                  p Unified DSP & SSP Ad-Management Ecosystem
                .details
                  p.role Role: UI/UX Design, Frontend Development
                  p.task 
                    span Task: 
                    | Independently researched DSP/SSP scenarios and collaborated with backend engineers to translate complex logic into a high-performance UI.
                  p.intro 
                    span Result: 
                    | Successfully integrated multifaceted functionalities into an intuitive dashboard, bridging technical backend constraints with a seamless user experience.

          .grid-item
          .grid-item.item-gallery
            .gallery
              .img-wrapper
                +responsive_img('ui_project/ui-screen-1', 'AIGC Project', '0')
                
              .img-wrapper
                +responsive_img('ui_project/ui-screen-2', 'API Design', '1')

              .img-wrapper
                +responsive_img('ui_project/ui-screen-3', 'CDN platform', '2')

              .img-wrapper
                +responsive_img('ui_project/ui-screen-4', 'AD platform', '3')

        //- 線條層
        svg.grid-layout-lines(viewBox="0 0 100 100" preserveAspectRatio="none")
          //- Vertical line
          line.line-v(x1="6%" y1="0%" x2="6%" y2="100%")
          line.line-v(x1="31%" y1="0%" x2="31%" y2="100%").m-hide
          line.line-v(x1="34%" y1="0%" x2="34%" y2="100%").m-hide
          line.line-v(x1="94%" y1="0%" x2="94%" y2="100%")

          //- Horizontal line
          line.line-h(x1="0" y1="0%" x2="100%" y2="0%")
          line.line-h(x1="0" y1="8%" x2="100%" y2="8%").m-hide
          line.line-h(x1="0" y1="26%" x2="34%" y2="26%").m-hide
          line.line-h(x1="0" y1="44%" x2="34%" y2="44%").m-hide
          line.line-h(x1="0" y1="62%" x2="34%" y2="62%").m-hide
          line.line-h(x1="0" y1="80%" x2="34%" y2="80%").m-hide
          line.line-h(x1="0" y1="98%" x2="100%" y2="98%")
          line.line-h(x1="0" y1="100%" x2="100%" y2="100%")

          //- mobile
          line.line-h(x1="0" y1="12%" x2="100%" y2="12%").m-only
          line.line-h(x1="0" y1="17%" x2="100%" y2="17%").m-only
          line.line-h(x1="0" y1="20%" x2="100%" y2="20%").m-only
          line.line-h(x1="0" y1="36%" x2="100%" y2="36%").m-only

      //- ========================================================
      //- UX Section
      //- ========================================================
      section#ux
        #particle-section
        .container
          .content
            .section_title
              +text_draw_outline(['UX & Marketing', 'research'], 'title_ux')
          .content
            .tools(data-fade='in' data-delay='0.6')
              img(src='./img/ux_tool/logo_ga.png' width='auto' height='34px' alt='Google Analytics')
              img(src='./img/ux_tool/logo_gtm.png' width='auto' height='34px' alt='Google Tag Manager')
              img(src='./img/ux_tool/logo_gt.png' width='auto' height='34px' alt='Google Trends')
              img(src='./img/ux_tool/logo_hotjar.png' width='auto' height='34px' alt='Hotjar')
              img(src='./img/ux_tool/logo_hubspot.png' width='auto' height='34px' alt='Hubspot')
              img(src='./img/ux_tool/logo_similarweb.png' width='auto' height='34px' alt='Similarweb')
              img(src='./img/ux_tool/logo_supabase.png' width='auto' height='34px' alt='Supabase')
            .performance
              .data
                p.number 3X
                p.sec increase in engagement time
                p.extra 190M Users. One product.
                p.footnote Cumulative users as of the end of 2025.

      //- ========================================================
      //- Graphic Section
      //- ========================================================
      section#graphic
        //- 內容層
        .grid-container
          //- row 1
          .grid-item
            .section_title
              +text_draw_outline('Graphic design', 'title_graphic')
          .grid-item

          //- 第一畫布 底層不滑動
          .grid-item.gallery-wrapper
            h4 Corporate Identity: Avatar Set
            .select-pics
              +responsive_img('gallery/Avatar/Alvin', 'gallery works', '0')
              +responsive_img('gallery/Avatar/Adam', 'gallery works', '1')
              +responsive_img('gallery/Avatar/Angelina', 'gallery works', '2')
              +responsive_img('gallery/Avatar/Micah', 'gallery works', '3')
              +responsive_img('gallery/Avatar/Tars', 'gallery works', '4')
              +responsive_img('gallery/Avatar/Tony', 'gallery works', '5')
              +responsive_img('gallery/Avatar/Vladka', 'gallery works', '6')
              +responsive_img('gallery/Avatar/Bonnie', 'gallery works', '7')
              +responsive_img('gallery/Avatar/Melody', 'gallery works', '8')
              +responsive_img('gallery/Avatar/Patrice', 'gallery works', '9').m-only
              +responsive_img('gallery/Avatar/Sabina', 'gallery works', '10').m-only
              +responsive_img('gallery/Avatar/Michael', 'gallery works', '11').m-only
              +responsive_img('gallery/Avatar/Brian', 'gallery works', '12').m-only
              +responsive_img('gallery/Avatar/Alicia', 'gallery works', '13').m-only
              +responsive_img('gallery/Avatar/Andy', 'gallery works', '14').m-only
            
            //- 第二畫布，第一張卡片
            .card.card-1
              h4 Daily Illustration Challenge
              .select-pics
                +responsive_img('gallery/365_hand/0201', 'gallery works', '0')
                +responsive_img('gallery/365_hand/0086', 'gallery works', '1')
                +responsive_img('gallery/365_hand/0035', 'gallery works', '2')
                +responsive_img('gallery/365_hand/0037', 'gallery works', '3')
                +responsive_img('gallery/365_hand/0011', 'gallery works', '4')
                +responsive_img('gallery/365_hand/0075', 'gallery works', '5')
                +responsive_img('gallery/365_hand/0043', 'gallery works', '6').m-hide
                +responsive_img('gallery/365_hand/0018', 'gallery works', '7').m-hide
                +responsive_img('gallery/365_hand/0147', 'gallery works', '8').m-hide
              

            //- 第三畫布，第二張卡片
            .card.card-2
              h4 Scene Illustration
              .select-pics
                +responsive_img('gallery/m_console/Surfing', 'gallery works', '0')
                +responsive_img('gallery/m_console/Barista', 'gallery works', '1')
                +responsive_img('gallery/m_console/Psychic', 'gallery works', '2')
                +responsive_img('gallery/m_console/Tailor', 'gallery works', '3')
                //- +responsive_img('gallery/m_console/Porker', 'gallery works', '4')
              p(href='#') Full showcase coming soon
              
        //- 線條層
        svg.grid-layout-lines(viewBox="0 0 100 100" preserveAspectRatio="none")
          //- Vertical line
          line.line-v(x1="6%" y1="0%" x2="6%" y2="100%")
          line.line-v(x1="33.3%" y1="0%" x2="33.3%" y2="100%").m-hide
          line.line-v(x1="36.3%" y1="0%" x2="36.3%" y2="100%").m-hide
          line.line-v(x1="94%" y1="0%" x2="94%" y2="100%")

          //- Horizontal line
          line.line-h(x1="0" y1="0%" x2="100%" y2="0%")
          line.line-h(x1="0" y1="8%" x2="100%" y2="8%")
          line.line-h(x1="0" y1="20%" x2="36.3%" y2="20%").m-hide
          line.line-h(x1="0" y1="98%" x2="100%" y2="98%")
          line.line-h(x1="0" y1="100%" x2="100%" y2="100%")

          //- mobile
          line.line-h(x1="0" y1="19%" x2="100%" y2="19%").m-only
          line.line-h(x1="0" y1="22%" x2="100%" y2="22%").m-only

      //- ========================================================
      //- Logo Section
      //- ========================================================
      section#logo
        //- 內容層
        .grid-container
          //- row 1
          .grid-item
            .section_title
              +text_draw_outline('Logo', 'title_logo')
              p.tools(data-fade='in' data-delay='0.3') Modern logo design across diverse industries.
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item.m-hide

          //- gap row
          .grid-item
          .grid-item
          .grid-item
          .grid-item.m-hide
          .grid-item.m-hide

          //- row 2
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_starryck.png' width='auto' height='auto' alt='Starryck')
          .grid-item
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_ride_free.png' width='auto' height='auto' alt='Ride Free')
          .grid-item
          .grid-item.m-only
          .grid-item.m-only
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_ag_pizza.png' width='auto' height='auto' alt='AG Pizza')

          //- gap row
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item

          //- row 3
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_mlytics.png' width='auto' height='auto' alt='Mlytics')
          .grid-item
          .grid-item.m-only
          .grid-item.m-only
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_za.png' width='auto' height='auto' alt='Za')
          .grid-item
          .grid-item(data='logo')
            .logo
              img(src='./img/logo_project/logo_edicius.png' width='auto' height='auto' alt='Edicius')

        //- 線條層
        svg.grid-layout-lines(viewBox="0 0 100 100" preserveAspectRatio="none")
          //- Vertical line
          line.line-v(x1="6%" y1="0%" x2="6%" y2="100%")
          line.line-v(x1="33.3%" y1="0%" x2="33.3%" y2="100%").m-hide
          line.line-v(x1="36.3%" y1="0%" x2="36.3%" y2="100%").m-hide
          line.line-v(x1="63.6%" y1="0%" x2="63.6%" y2="100%").m-hide
          line.line-v(x1="66.6%" y1="0%" x2="66.6%" y2="100%").m-hide
          line.line-v(x1="94%" y1="0%" x2="94%" y2="100%")

          //- mobile
          line.line-v(x1="48.5%" y1="0%" x2="48.5%" y2="100%").m-only
          line.line-v(x1="51.5%" y1="0%" x2="51.5%" y2="100%").m-only

          //- Horizontal line
          line.line-h(x1="0" y1="0%" x2="100%" y2="0%")
          line.line-h(x1="0" y1="14.5%" x2="100%" y2="14.5%").m-hide
          line.line-h(x1="0" y1="24%" x2="100%" y2="24%").m-hide
          line.line-h(x1="0" y1="35.3%" x2="100%" y2="35.3%").m-hide
          line.line-h(x1="0" y1="38.3%" x2="100%" y2="38.3%").m-hide
          line.line-h(x1="0" y1="63.6%" x2="100%" y2="63.6%").m-hide
          line.line-h(x1="0" y1="66.6%" x2="100%" y2="66.6%").m-hide
          line.line-h(x1="0" y1="92%" x2="100%" y2="92%")
          line.line-h(x1="0" y1="100%" x2="100%" y2="100%")

          //- mobile
          line.line-h(x1="0" y1="8%" x2="100%" y2="8%").m-only
          line.line-h(x1="0" y1="16%" x2="100%" y2="16%").m-only
          line.line-h(x1="0" y1="24%" x2="100%" y2="24%").m-only
          line.line-h(x1="0" y1="27%" x2="100%" y2="27%").m-only
          line.line-h(x1="0" y1="46.6%" x2="100%" y2="46.6%").m-only
          line.line-h(x1="0" y1="49.6%" x2="100%" y2="49.6%").m-only
          line.line-h(x1="0" y1="69.3%" x2="100%" y2="69.3%").m-only
          line.line-h(x1="0" y1="72.3%" x2="100%" y2="72.3%").m-only

      //- ========================================================
      //- About Section
      //- ========================================================
      section#about
        //- 內容層
        .grid-container
          //- row 1
          .grid-item
            .section_title
              +text_draw_outline('About', 'title_about')
          .grid-item.m-hide
          .grid-item.m-hide

          //- gap row
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item

          //- row 2
          .grid-item
            .logo(data-fade='in' data-delay='0.3')
              img(src='./img/logo.svg' width='180px' height='auto' alt='Logo')
          .grid-item
          .grid-item
            p.name(data-fade='in' data-delay='0.3') Kollin Jhang
            p(data-fade='up' data-delay='0.6') Designer with 10+ years bridging UI/UX, branding, and marketing. I help companies design products that scale—from initial concept to market-ready experiences that resonate with users and drive business results.

          //- row 3
          .grid-item.m-hide
          .grid-item
          .grid-item

          //- gap row
          .grid-item.m-hide
          .grid-item.m-hide
          .grid-item.m-hide

        //- 線條層 > 1040px
        svg.grid-layout-lines(viewBox="0 0 100 100" preserveAspectRatio="none")
          //- Vertical line
          line.line-v(x1="6%" y1="0%" x2="6%" y2="100%")
          line.line-v(x1="33.3%" y1="0%" x2="33.3%" y2="100%").m-hide
          line.line-v(x1="36.3%" y1="0%" x2="36.3%" y2="100%").m-hide
          line.line-v(x1="94%" y1="0%" x2="94%" y2="100%")

          //- Horizontal line
          line.line-h(x1="0" y1="0%" x2="100%" y2="0%")
          line.line-h(x1="0" y1="14.5%" x2="100%" y2="14.5%").m-hide
          line.line-h(x1="0" y1="24%" x2="100%" y2="24%").m-hide
          line.line-h(x1="0" y1="35.3%" x2="100%" y2="35.3%").m-hide
          line.line-h(x1="0" y1="38.3%" x2="100%" y2="38.3%").m-hide
          line.line-h(x1="0" y1="63.6%" x2="100%" y2="63.6%").m-hide
          line.line-h(x1="0" y1="66.6%" x2="100%" y2="66.6%").m-hide
          line.line-h(x1="0" y1="92%" x2="100%" y2="92%")
          line.line-h(x1="0" y1="100%" x2="100%" y2="100%")

          //- mobile
          line.line-h(x1="0" y1="8%" x2="100%" y2="8%").m-only
          line.line-h(x1="0" y1="16%" x2="100%" y2="16%").m-only
          line.line-h(x1="0" y1="19%" x2="100%" y2="19%").m-only
          line.line-h(x1="0" y1="36%" x2="100%" y2="36%").m-only
          line.line-h(x1="0" y1="39%" x2="100%" y2="39%").m-only
          line.line-h(x1="0" y1="72%" x2="100%" y2="72%").m-only
          line.line-h(x1="0" y1="75%" x2="100%" y2="75%").m-only

      //- 聯絡表單
      include ./_form.pug

    //- ========================================================
    //- Footer
    //- ========================================================
    footer
      p Designed by Kollin Jhang © 2026 All rights reserved.
      .social-links
        a(href="https://www.linkedin.com/in/kollin-jhang" target='_blank')
          img(src='./img/icon/linkedin.svg' width='24px' height='24px' alt='linkedin')

    //- ========================================================
    //- JS
    //- ========================================================
    //- Animation plugin
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollToPlugin.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")

    script(src="./js/main.js")
